* {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans Code', sans-serif;
  box-sizing: border-box;
}

/* HEADER */
header {
  background-color: #f2a65a;
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

header div {
  text-align: center;
}

header h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

/* MENU */
nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  transform: scale(1.05);
  text-shadow: 0 0 5px rgba(255,255,255,0.7);
}

/* IMAGEM PRINCIPAL */
.capa, img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-bottom: 4px solid #f2a65a;
}

/* SEÇÕES */
.sobre-nos {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  text-align: center;
}

.paragrafo-texto {
  font-size: 20px;
  color: #444;
  margin-top: 10px;
}

/* CARDÁPIO */
.itens-cardapio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.item-cardapio {
  background: white;
  border-radius: 12px;
  padding: 15px;
  width: 250px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.item-cardapio:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

.img-item {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

h3 {
  margin-bottom: 8px;
  color: #ff7f50;
  font-size: 20px;
}

/* FOOTER */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}
